.container{
    background-color: blue;
    padding: 40px;
    border-radius: 10px;
    margin-top: 80px;
}

.title{
    color: white;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}




